@font-face {
  font-family: "robotoblack_italic";
  src: url("roboto-blackitalic-webfont.woff2") format("woff2"),
    url("roboto-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.App {
  cursor: url("https://i.imgur.com/z2BEc4D.png"), auto;
}

button:focus {
  outline: none;
}

.main-panel {
  position: relative;
  float: right;
  width: calc(100% - 260px);
}
.main-panel > .content {
  padding: 30px 15px;
  min-height: calc(100% - 123px);
}
.main-panel > .footer {
  border-top: 1px solid #e7e7e7;
}
.main-panel .navbar {
  margin-bottom: 0;
}

button {
  width: 317px;
  height: 333px;
  border-radius: 20px;

  cursor: url("https://i.imgur.com/z2BEc4D.png"), auto;
}

p {
  font-size: 16px;
  font-family: "robotoblack_italic";
  font-style: italic;
  position: center;
  color: black;
  text-shadow: 0.1px 0.1px 7px rgb(255, 255, 255);
}

img {
  max-width: 300px;
  max-height: 300px;
}

h1 {
  color: black;
  font-size: 50px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.parameters-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  cursor: url("https://i.imgur.com/z2BEc4D.png"), auto;
}

#submitButton {
  height: 40px;
  width: 80px;
  font-size: 16px;
  font-family: "robotoblack_italic";
  font-style: italic;
  position: center;
  color: black;
  text-shadow: 0.1px 0.1px 7px rgb(255, 255, 255);
  margin-bottom: 75px;
}

#searchBar {
  margin-right: 20px;
  height: 25px;
  width: 150px;

  cursor: url("https://i.imgur.com/z2BEc4D.png"), auto;
}

.colorSelector {
  margin-left: 10px;
  margin-right: 20px;
  height: 25px;
  width: 80px;

  cursor: url("https://i.imgur.com/z2BEc4D.png"), auto;
}

#searchCheckbox {
  margin-top: 5px;
  margin-right: 20px;
}

.searchList {
  height: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  margin: 0 0 0 0;
}

li {
  clear: left;
  font-size: 25px;
  padding: 3px 0px 25px 10px;
  margin: 0px;
  text-align: center;
}

.true {
  background-color: rgb(37, 190, 31);
}

.true-zio {
  background-color: rgb(246, 74, 148);
}
.true-build {
  background-image: linear-gradient(rgb(82, 51, 255), red);
}
.true-exaid {
  background-color: rgb(255, 230, 0);
}
.true-ghost {
  background-color: rgb(255, 153, 0);
}
.true-drive {
  background-color: rgb(138, 138, 138);
}
.true-gaim {
  background-color: rgb(255, 166, 0);
}
.true-wizard {
  background-color: rgb(233, 0, 0);
}
.true-fourze {
  background-color: rgb(255, 164, 27);
}
.true-ooo {
  background-color: rgb(61, 207, 32);
}
.true-w {
  background-color: rgb(255, 0, 0);
}
.true-decade {
  background-color: rgb(37, 190, 31);
}
.true-kiva {
  background-color: rgb(251, 255, 0);
}
.true-deno {
  background-color: rgb(255, 57, 57);
}
.true-kabuto {
  background-color: rgb(44, 111, 255);
}
.true-hibiki {
  background-color: rgb(97, 0, 153);
}
.true-blade {
  background-color: rgb(177, 39, 39);
}
.true-faiz {
  background-color: rgb(251, 255, 0);
}
.true-ryuki {
  background-color: rgb(255, 0, 0);
}
.true-agito {
  background-color: rgb(255, 0, 0);
}
.true-kuuga {
  background-color: rgb(255, 0, 0);
}
.true-another {
  background-color: rgb(37, 0, 71);
}
.true-misc {
  background-color: rgb(0, 255, 255);
}

.false {
  cursor: url("https://i.imgur.com/XqSw7Ok.png"), auto;
}

.listHeaderImage {
    max-height: 100px;
}

.zio {
  background-image: linear-gradient(
    rgba(255, 0, 234, 0.212),
    rgb(255, 255, 255) 40%
  );
  cursor: url("https://i.imgur.com/z2BEc4D.png"), auto;
}
.zio-open {
  background: rgba(255, 0, 234, 0.212);
}
.zio-closed {
  background-image: linear-gradient(
    rgba(255, 0, 234, 0.212),
    rgb(255, 255, 255) 40%
  );
}

.build {
  background-image: linear-gradient(
    rgba(82, 51, 255, 0.212) 40%,
    rgba(255, 255, 255) 59%
  );
}
.build-open {
  background: rgba(82, 51, 255, 0.212);
}
.build-closed {
  background-image: linear-gradient(
    rgba(82, 51, 255, 0.212) 40%,
    rgb(255, 255, 255)
  );
}
.exaid {
  background-image: linear-gradient(
    rgba(255, 0, 242, 0.212),
    rgb(255, 255, 255) 40%
  );
}
.exaid-open {
  background: rgba(255, 0, 242, 0.212);
}

.exaid-closed {
  background-image: linear-gradient(
    rgba(255, 0, 242, 0.212),
    rgb(255, 255, 255)
  );
}

.ghost {
  background-image: linear-gradient(
    rgba(255, 123, 0, 0.212) 70%,
    rgb(255, 255, 255)
  );
}

.ghost-open {
  background: rgba(255, 136, 0, 0.212);
}

.ghost-closed {
  background-image: linear-gradient(
    rgba(255, 136, 0, 0.21, rgb(255, 255, 255), 0)
  );
}

.drive {
  background-image: linear-gradient(
    rgba(255, 0, 0, 0.212) 70%,
    rgb(255, 255, 255)
  );
}

.drive-open {
  background: rgba(255, 0, 0, 0.212);
}

.drive-closed {
  background-image: linear-gradient(rgba(255, 0, 0, 0.212), rgb(255, 255, 255));
}

.gaim {
  background-image: linear-gradient(
    rgb(30, 34, 255, 0.212) 50%,
    rgb(255, 255, 255)
  );
}

.gaim-open {
  background: rgb(30, 34, 255, 0.212);
}

.gaim-closed {
  background-image: linear-gradient(
    rgb(30, 34, 255, 0.212) 70%,
    rgb(255, 255, 255)
  );
}

.wizard {
  background-image: linear-gradient(
    rgb(206, 29, 29, 0.212) 50%,
    rgb(255, 255, 255)
  );
}

.wizard-open {
  background: rgb(206, 29, 29, 0.212);
}

.wizard-closed {
  background-image: linear-gradient(
    rgb(206, 29, 29, 0.212) 50%,
    rgb(255, 255, 255)
  );
}

.fourze {
  background-image: linear-gradient(
    rgb(255, 123, 0, 0.212) 50%,
    rgb(255, 255, 255)
  );
}

.fourze-open {
  background: rgb(255, 123, 0, 0.212);
}

.fourze-closed {
  background-image: linear-gradient(
    rgb(255, 123, 0, 0.212) 50%,
    rgb(255, 255, 255)
  );
}

.ooo {
  background-image: linear-gradient(
    rgb(241, 42, 42, 0.212),
    rgb(226, 230, 0, 0.212) 40%,
    rgb(0, 170, 0, 0.212)
  );
}

.ooo-open {
  background: rgb(241, 42, 42, 0.212);
}

.ooo-closed {
  background-image: linear-gradient(
    rgb(241, 42, 42, 0.212),
    rgb(226, 230, 0, 0.212) 40%,
    rgb(0, 170, 0, 0.212)
  );
}

.w {
  background-image: linear-gradient(
    rgb(0, 170, 0, 0.212),
    rgba(116, 6, 101, 0.356),
    rgb(255, 255, 255)
  );
}

.w-open {
  background: rgb(0, 170, 0, 0.212);
}

.w-closed {
  background-image: linear-gradient(
    rgb(0, 170, 0, 0.212),
    rgba(116, 6, 101, 0.356),
    rgb(255, 255, 255)
  );
}

.decade {
  background-image: linear-gradient(
    rgba(255, 32, 225, 0.356) 20%,
    rgb(255, 255, 255)
  );
}

.decade-open {
  background: rgba(255, 32, 225, 0.356);
}

.decade-closed {
  background-image: linear-gradient(
    rgba(255, 32, 225, 0.356) 20%,
    rgb(255, 255, 255)
  );
}
