.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  
  cursor: url("https://i.imgur.com/YyPyzFh.png"), auto;
}

button {
  width: 317px;
  height: 333px;
  border-radius: 6px;
  
  cursor: url("https://i.imgur.com/YyPyzFh.png"), auto;
}

img {
  max-width: 300px;
  max-height: 300px;
}

h1 {
  color: black;
  font-size: 50px;
  text-align: center;

}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  padding: 25px;
}

li {
  clear: left;
  font-size: 25px;
  padding: 3px 0px 3px 10px;
  margin: 0px;
}

.true {
  background-color: rgb(37, 190, 31);
}

.zio{
  background-image: linear-gradient(rgb(255, 255, 255) 60%, rgb(82, 51, 255));
}

.build {
  background-image: linear-gradient(rgb(82, 51, 255)45%, red 45%, rgb(255, 100, 234));
}
.exaid {
  
  background-image: linear-gradient(rgb(255, 100, 234), rgb(255, 136, 0));
}