@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=95ef6b2b-a202-4655-8de1-31fb6c4742a6&fontids=1488918,5664069,5664080,5664092");
@font-face {
  font-family: "Helvetica Neue LT W04_71488918";
  src: url("/fonts/1488918/f9872f03-b366-499d-9b0e-ce508b0a3539.eot?#iefix");
  src: url("/fonts/1488918/f9872f03-b366-499d-9b0e-ce508b0a3539.eot?#iefix")
      format("eot"),
    url("/fonts/1488918/f350f87a-2ea2-408b-98bb-580827d1a634.woff2")
      format("woff2"),
    url("/fonts/1488918/0552ce48-950c-471f-b843-1afac814d259.woff")
      format("woff"),
    url("/fonts/1488918/df2262d6-48cc-478c-aed1-5ce7421b4cf4.ttf")
      format("truetype");
}
@font-face {
  font-family: "Helvetica Neue LT W04 25 Ult Lt";
  src: url("/fonts/5664069/38885f8a-47e0-4717-bf58-1c1aefa1f736.eot?#iefix");
  src: url("/fonts/5664069/38885f8a-47e0-4717-bf58-1c1aefa1f736.eot?#iefix")
      format("eot"),
    url("/fonts/5664069/610d82c5-3398-43d5-ba50-a723a7fee1df.woff2")
      format("woff2"),
    url("/fonts/5664069/0a4f530a-a78e-4d59-8630-7ebc4e8b0a6d.woff")
      format("woff"),
    url("/fonts/5664069/87877579-210b-4190-80e3-66613983ad64.ttf")
      format("truetype");
}
@font-face {
  font-family: "Helvetica Neue LT W04 35 Thin";
  src: url("/fonts/5664080/c9b747ee-e0de-4c04-a495-6fd4f806eb87.eot?#iefix");
  src: url("/fonts/5664080/c9b747ee-e0de-4c04-a495-6fd4f806eb87.eot?#iefix")
      format("eot"),
    url("/fonts/5664080/bb27f557-f7ae-41b7-9351-87ec43e9588d.woff2")
      format("woff2"),
    url("/fonts/5664080/3f193a27-2869-4003-9da3-c10926a26e32.woff")
      format("woff"),
    url("/fonts/5664080/8785c6ea-fff4-4f19-a3e1-aa6840706e84.ttf")
      format("truetype");
}
@font-face {
  font-family: "Helvetica Neue LT W04 55 Roman";
  src: url("/fonts/5664092/0524f427-5da1-436e-bc27-6a43b8610422.eot?#iefix");
  src: url("/fonts/5664092/0524f427-5da1-436e-bc27-6a43b8610422.eot?#iefix")
      format("eot"),
    url("/fonts/5664092/8f117883-5a7a-40c2-a28f-d0478a469f2b.woff2")
      format("woff2"),
    url("/fonts/5664092/93fd95fc-c11f-47be-bd25-5f5f54288ac5.woff")
      format("woff"),
    url("/fonts/5664092/b3b558b2-ea25-4a1f-b9fc-83ae6300a1df.ttf")
      format("truetype");
}

.App {
  cursor: url("https://i.imgur.com/z2BEc4D.png"), auto;
}

button:focus {
  outline: none;
}

.main-panel {
  position: relative;
  float: right;
  width: calc(100% - 260px);
}
.main-panel > .content {
  padding: 30px 15px;
  min-height: calc(100% - 123px);
}
.main-panel > .footer {
  border-top: 1px solid #e7e7e7;
}
.main-panel .navbar {
  margin-bottom: 0;
}

button {
  width: 317px;
  height: 333px;
  border-radius: 20px;

  cursor: url("https://i.imgur.com/z2BEc4D.png"), auto;
}

p {
  font-size: 16px;
  font-family: "Helvetica Neue LT W04 25 Ult Lt";
  position: center;
  color: black;
  text-shadow: 0.1px 0.1px 7px rgb(255, 255, 255);
}

img {
  max-width: 300px;
  max-height: 300px;
}

h1 {
  color: black;
  font-size: 50px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.parameters-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  cursor: url("https://i.imgur.com/z2BEc4D.png"), auto;
}

#submitButton {
  height: 40px;
  width: 80px;
}

#searchBar {
  margin-right: 20px;
  height: 25px;
  width: 150px;

  cursor: url("https://i.imgur.com/z2BEc4D.png"), auto;
}

.colorSelector {
  margin-left: 10px;
  margin-right: 20px;
  height: 25px;
  width: 80px;

  cursor: url("https://i.imgur.com/z2BEc4D.png"), auto;
}

#searchCheckbox {
  margin-top: 5px;
  margin-right: 20px;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  margin: 0 0 0 0;
}

li {
  clear: left;
  font-size: 25px;
  padding: 3px 0px 25px 10px;
  margin: 0px;
  text-align: center;
}

.true {
  background-color: rgb(37, 190, 31);
}

.true-zio {
  background-color: rgb(246, 74, 148);
}
.true-build {
  background-image: linear-gradient(rgb(82, 51, 255), red);
}
.true-exaid {
  background-color: rgb(255, 230, 0);
}
.true-ghost {
  background-color: rgb(255, 153, 0);
}
.true-drive {
  background-color: rgb(138, 138, 138);
}
.true-gaim {
  background-color: rgb(255, 166, 0);
}
.true-wizard {
  background-color: rgb(233, 0, 0);
}
.true-fourze {
  background-color: rgb(255, 164, 27);
}
.true-ooo {
  background-color: rgb(61, 207, 32);
}
.true-w {
  background-color: rgb(255, 0, 0);
}
.true-decade {
  background-color: rgb(37, 190, 31);
}
.true-kiva {
  background-color: rgb(251, 255, 0);
}
.true-deno {
  background-color: rgb(255, 57, 57);
}
.true-kabuto {
  background-color: rgb(44, 111, 255);
}
.true-hibiki {
  background-color: rgb(97, 0, 153);
}
.true-blade {
  background-color: rgb(177, 39, 39);
}
.true-faiz {
  background-color: rgb(251, 255, 0);
}
.true-ryuki {
  background-color: rgb(255, 0, 0);
}
.true-agito {
  background-color: rgb(255, 0, 0);
}
.true-kuuga {
  background-color: rgb(255, 0, 0);
}
.true-another {
  background-color: rgb(37, 0, 71);
}
.true-misc {
  background-color: rgb(0, 255, 255);
}

.false {
  cursor: url("https://i.imgur.com/XqSw7Ok.png"), auto;
}

.zio {
  background-image: linear-gradient(
    rgba(255, 0, 234, 0.212),
    rgb(255, 255, 255) 40%
  );
  cursor: url("https://i.imgur.com/z2BEc4D.png"), auto;
}
.zio-open {
  background: rgba(255, 0, 234, 0.212);
}
.zio-closed {
  background-image: linear-gradient(
    rgba(255, 0, 234, 0.212),
    rgb(255, 255, 255) 40%
  );
}

.build {
  background-image: linear-gradient(
    rgba(82, 51, 255, 0.212) 40%,
    rgba(255, 255, 255) 59%
  );
}
.build-open {
  background: rgba(82, 51, 255, 0.212);
}
.build-closed {
  background-image: linear-gradient(
    rgba(82, 51, 255, 0.212) 40%,
    rgb(255, 255, 255)
  );
}
.exaid {
  background-image: linear-gradient(
    rgba(255, 0, 242, 0.212),
    rgb(255, 255, 255) 40%
  );
}
.exaid-open {
  background: rgba(255, 0, 242, 0.212);
}

.exaid-closed {
  background-image: linear-gradient(
    rgba(255, 0, 242, 0.212),
    rgb(255, 255, 255)
  );
}

.ghost {
  background-image: linear-gradient(
    rgba(255, 123, 0, 0.212) 70%,
    rgb(255, 255, 255)
  );
}

.ghost-open {
  background: rgba(255, 136, 0, 0.212);
}

.ghost-closed {
  background-image: linear-gradient(
    rgba(255, 136, 0, 0.21, rgb(255, 255, 255), 0)
  );
}

.drive {
  background-image: linear-gradient(
    rgba(255, 0, 0, 0.212) 70%,
    rgb(255, 255, 255)
  );
}

.drive-open {
  background: rgba(255, 0, 0, 0.212);
}

.drive-closed {
  background-image: linear-gradient(rgba(255, 0, 0, 0.212), rgb(255, 255, 255));
}

.gaim {
  background-image: linear-gradient(rgb(30, 34, 255, 0.212) 50%, rgb(255, 255, 255));
}

.gaim-open {
  background: rgb(30, 34, 255, 0.212);
}

.gaim-closed {
  background-image: linear-gradient(rgb(30, 34, 255, 0.212) 70%, rgb(255, 255, 255));
}

.wizard {
  background-image: linear-gradient(rgb(206, 29, 29) 95%, rgb(255, 123, 0));
}

.wizard-open {
  background: rgb(206, 29, 29);
}

.wizard-closed {
  background-image: linear-gradient(rgb(206, 29, 29) 70%, rgb(255, 123, 0));
}

.fourze {
  background-image: linear-gradient(rgb(255, 123, 0) 95%, rgb(241, 42, 42));
}

.fourze-open {
  background: rgb(255, 123, 0);
}

.fourze-closed {
  background-image: linear-gradient(rgb(255, 123, 0) 70%, rgb(241, 42, 42));
}

.ooo {
  background-image: linear-gradient(
    rgb(241, 42, 42),
    rgb(226, 230, 0) 40%,
    rgb(0, 170, 0)
  );
}

.ooo-open {
  background: rgb(241, 42, 42);
}

.ooo-closed {
  background-image: linear-gradient(
    rgb(241, 42, 42),
    rgb(226, 230, 0) 40%,
    rgb(0, 170, 0)
  );
}

.w {
  background-image: linear-gradient(rgb(0, 170, 0), rgb(92, 0, 80));
}

.w-open {
  background: rgb(0, 170, 0);
}

.w-closed {
  background-image: linear-gradient(rgb(0, 170, 0), rgb(92, 0, 80));
}



.decade {
  background-image: linear-gradient(rgb(0, 170, 0), rgb(92, 0, 80));
}

.decade-open {
  background: rgb(0, 170, 0);
}

.decade-closed {
  background-image: linear-gradient(rgb(0, 170, 0), rgb(92, 0, 80));
}
