.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  z-index: 1;
  color: #fff;
  font-weight: 200;
  background-size: cover;
  background-position: center center;
}
.sidebar .sidebar-wrapper {
  position: relative;
  height: calc(100vh - 75px);
  overflow: auto;
  width: 260px;
  z-index: 4;
  padding-bottom: 30px;
}
.sidebar .sidebar-background {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
}
.sidebar .logo {
  padding: 10px 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  z-index: 4;
}
.sidebar .nav {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.sidebar .nav li > a {
  color: #ffffff;
  opacity: 0.86;
  border-radius: 4px;
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
}

.checklist-icon {
  content: url("https://i.imgur.com/HiBdkkt.png");
  height: 30px;
}

.search-icon {
  content: url("https://i.imgur.com/vcdUgnM.png");
  height: 30px;
}

#japaneseSwitch {
  width: 130px;
  height: 100px;
  border-radius: 5px;
  position: fixed;
  z-index: 1;
  background-image: url("https://i.imgur.com/OS7M9H5.png");
  margin-left: 10px;

  cursor: url("https://i.imgur.com/z2BEc4D.png"), auto;
}
